<script src="~/Areas/WO/Content/Scripts/_PartialDIItems.js"></script>

<script type="text/javascript">
    $(function () {
        $("#txtDateIncurred").datepicker({
            changeYear: true,
            changeMonth: true,
            showOtherMonths: true,
            selectOtherMonths: true,
            showWeek: true,
            dateFormat: 'dd/mm/yy',
            yearRange: "-10:+50"
        });
    });

</script>
<style>
    .ui-datepicker {
        width: 19em;
    }
</style>

<div id="divPartial" style="display: none" class="btnWOClose">
    <input type="hidden" id="hdnWorkOrderID" />
    <input type="hidden" id="hdnDisbursementItemID" />
    <input type="hidden" id="hdnNeedVerification" />
    <div class="col-xs-122 ">
        <div id="widget1" class="widget-box">
            <div class="widget-header" id="dvheaderDIItems" style="cursor: pointer;">
                <h4 class="widget-title" id="diLabel">Add Disbursement Item</h4>
                <a style="float: right; padding: 10px;">
                    <i class="ace-icon fa fa-chevron-up"></i>
                </a>
            </div>

            <div class="widget-body">
                <div class="widget-main" style="background-color: #F5F5F5;">

                    <div class="form-group" style="display: none">

                        <div class="col-md-6">
                            <label for="txtClientId" class="col-sm-3 control-label no-padding-right">WO #</label>
                            <div class="col-sm-5">
                                <input type="text" disabled="disabled" id="txTwoReadOnly" class="txtwo form-control" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="txtWorkOrderID" class="col-sm-4 control-label no-padding-right">Client </label>
                            <div class="col-sm-5">
                                <input type="text" id="txtClientReadOnly" disabled="disabled" class="txtclient form-control" />
                            </div>
                        </div>

                    </div>

                    <div class="form-group">

                        <div class="col-md-6">
                            <label for="txtClientId" class="col-sm-3 control-label no-padding-right">Item Number <span class="redstar">*</span> </label>
                            <div class="col-sm-5">
                                @*<select id="tempItemNOParent" tabindex="2">
                                    <option value="-1">--Select Item-- </option>
                                </select>*@
                                @Html.Partial("~/Areas/WO/Views/PartialContent/_DIItemChosen.cshtml", new ViewDataDictionary { { "Id", "tempItemNOParent" }, { "DisplayName", "Choose an Item" }, { "DefaultLoad", 0 } })

                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="txtWorkOrderID" class="col-sm-4 control-label no-padding-right">DI Code </label>
                            <div class="col-sm-5">
                                <input type="text" disabled="disabled" id="txtDICode" class="form-control" />
                            </div>
                        </div>

                    </div>

                    <div class="form-group">

                        <div class="col-md-6">
                            <label for="txtClientId" class="col-sm-3 control-label no-padding-right">Quantity  <span class="redstar">*</span> </label>
                            <div class="col-sm-5">
                                <input type="text" id="txtQuantity" onkeypress="return EnterOnlyNumbers(event)" class="form-control DisableCutCopyPaste" maxlength="2" tabindex="3" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="txtClientId" class="col-sm-4 control-label no-padding-right">Doc Ref # </label>
                            <div class="col-sm-5">
                                <input type="text" id="txtvenderRef" maxlength="50" class="form-control special" tabindex="6" />
                            </div>
                        </div>

                    </div>

                    <div class="form-group">

                        <div class="col-md-6">
                            <label for="txtWorkOrderID" class="col-sm-3 control-label no-padding-right">Unit Price <span class="redstar">*</span> </label>
                            <div class="col-sm-5">
                                <input type="text" id="txtUnitPrice" onkeypress="return AllowDecimalNumbersOnlyWithNegative(this,event,17,4)" class="form-control DisableCutCopyPaste special" tabindex="4" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="txtWorkOrderID" class="col-sm-4 control-label no-padding-right">Date Incurred </label>
                            <div class="col-sm-5">
                                <input type="text" id="txtDateIncurred" class="form-control DisableCutCopyPaste special" tabindex="7" onblur="javascript:validateDateDDMMYYYY(this)" onkeypress="return checkDateValidation(event)" maxlength="10" />
                            </div>

                        </div>

                    </div>

                    <div class="form-group">

                        <div class="col-md-6">
                            <label for="txtClientId" class="col-sm-3 control-label no-padding-right">Amount  </label>
                            <div class="col-sm-5">
                                <input type="text" id="txtAmount" disabled="disabled" class="txtAmount form-control special" />
                            </div>
                            <div class="col-sm-4" style="padding-top: 8px">
                                <span id="spnAmountOfEditVendorRef"></span>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-8">
                        <div class="col-xs-2 text-right no-padding">
                            <label class="control-label">Description</label>
                        </div>
                        <div class="col-xs-10">
                            <table id="tblDisbursementItemsForEdit" style="width: 100%;">
                                <tr>
                                    <td></td>
                                    <td>
                                        <textarea id="txtdesc" maxlength="250" class="DescriptionMultiLine form-control special" tabindex="5" style="resize: none;"></textarea>
                                    </td>
                                    <td style="text-align: center; width: 50px;">
                                        @*<input type="button" value="+" id="btnAddDynamicDescription" class="btn btn-pink" />*@
                                        <img src="~/Content/images/AddIcon.png" id="btnAddDynamicDescription" style="cursor: pointer;" />
                                    </td>
                                    <td style="text-align: left; width: 70px;">
                                        <input type="button" value="View" id="btnView" style="display: none" class="btn" />

                                    </td>
                                    <td style="text-align: left;">
                                        <div id="dvNote">
                                            @Html.Partial("~/Areas/WO/Views/Note/_Note.cshtml")
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-3 widget-box" style="background-color: #f5f5f5;">

                            <div class="col-md-8" style="padding-top: 10px">
                                <span class="col-xs-8 text-right">Matched</span>
                                <div class="col-sm-4">
                                    <input type="checkbox" id="chkMatched" disabled="disabled" class="col-md-offset-1" />
                                </div>
                            </div>

                            <div class="col-md-8" style="padding-top: 10px">
                                <span class="col-xs-8 text-right">Verified</span>
                                <div class="col-sm-4">
                                    <input type="checkbox" id="chkverified" disabled="disabled" class="col-md-offset-1" />
                                </div>
                            </div>

                            <div class="col-md-8" style="padding-top: 10px">
                                <span class="col-xs-8 text-right no-padding-left">Adhoc</span>
                                <div class="col-sm-4">
                                    <input type="checkbox" id="chkAdhocBillingReadOnly" disabled="disabled" />
                                </div>
                            </div>

                            <div class="col-md-8" style="padding-top: 10px">
                                <span class="col-xs-8 text-right">In-House</span>
                                <div class="col-sm-4">
                                    <input type="checkbox" id="chkArchivedReadOnly" disabled="disabled" />
                                </div>
                            </div>

                            <div class="col-md-8" style="padding-top: 10px">
                                <span class="col-xs-8 text-right">Billed</span>
                                <div class="col-sm-4">
                                    <input type="checkbox" id="chkBilledReadOnly" disabled="disabled" />
                                </div>
                            </div>

                            <div id="divRelatedDI" style="display: none; padding-top: 10px" class="col-md-8">
                                <span class="col-xs-8 text-right">Related DI</span>
                                <div class="col-sm-4">
                                    <span id="spanDICount" style="background-color: #5A5B54; padding: 3px; color: white"></span>
                                </div>
                            </div>

                            <div class="col-md-11" style="padding-top: 15px; padding-left: 0px;">
                                <div class="col-xs-12">
                                    Vendor Report 
                                </div>
                                <div class="col-xs-12">
                                    <input type="text" disabled="disabled" id="txtVenderReportReadOnly" class="form-control" />
                                </div>
                            </div>

                            <div class="col-md-11" style="padding-top: 10px; padding-bottom: 10px; padding-left: 0px;">
                                <div class="col-xs-12">
                                    Vendor Amount
                                </div>
                                <div class="col-xs-12">
                                    <input type="text" disabled="disabled" id="txtVenderAmountReadOnly" class="form-control" />
                                </div>
                            </div>

                        </div>
                    </div>

                    <div id="divEvents">
                        <input type="button" id="btnAdd" class="btn btn-info" value="ADD" tabindex="8">
                        <input type="button" id="btnAdhocBilling" class="btn btn-success" value="SEND TO ACCPAC FOR ADHOC BILLING" tabindex="11">
                        <input type="button" id="btnUNAdhocBilling" class="btn btn-yellow" value="REMOVE FORM ADHOC BILLING" style="display: none" tabindex="12">

                        @if (Request.Url.LocalPath == "/WO/WODI/WorkOrder")
                        {
                            <input type="button" id="btnArchive" class="btn btn-primary" value="IN-HOUSE" tabindex="9">
                            <input type="button" id="btnUNArchive" class="btn btn-purple" value="UNDO IN-HOUSE" style="display: none" tabindex="10">
                            <button id="btnDelete" class="btn btn-danger" style="display: none" tabindex="13">
                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                DELETE
       
                            </button>
                        }
                        else if (ViewBag.ActionStatusOnDIItems)
                        { 
                            <input type="button" id="btnArchive" class="btn btn-primary" value="IN-HOUSE" tabindex="9">
                            <input type="button" id="btnUNArchive" class="btn btn-purple" value="UNDO IN-HOUSE" style="display: none" tabindex="10">
                            <button id="btnDelete" class="btn btn-danger" style="display: none" tabindex="13">
                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                DELETE
       
                            </button>
                        }
                        <button type="button" class="btn" id="btnCancel" tabindex="14">
                            <i class="ace-icon fa fa-times bigger-110"></i>
                            CANCEL
       
                        </button>
                        <button type="button" class="btn" id="Clear" tabindex="15" style="display: none;">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            RESET
       
                        </button>
                        <button type="button" class="btn tooltip-warning" id="btnFixAccpacStatus" tabindex="16" style="display: none;" data-original-title="" data-placement="top">
                            <i class="ace-icon fa fa-exclamation bigger-110"></i>
                            FIX
       
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="tempTypechild" type="text/html">
    <option value="{{= ID}}">{{= Code}}</option>
</script>
<div id="modal-form" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content" style="max-height: 1000px; width: 650px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="blue bigger">Disbursement Item Information</h4>
            </div>

            <div class="widget-main">
                <div class="modal-body row">

                    <div class="col-xs-12">
                        <div class="col-xs-6">
                            <div class="col-xs-3 no-padding">WO</div>
                            <div class="col-xs-1">:</div>
                            <div class="col-xs-7">
                                <label id="lblshowTwoReadOnly"></label>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="col-xs-4 no-padding">Client</div>
                            <div class="col-xs-1">:</div>
                            <div class="col-xs-6">
                                <label id="lblshowClientReadOnly"></label>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12" style="margin-top: 10px;">
                        <div class="col-xs-6">
                            <div class="col-xs-3 no-padding">Item NO</div>
                            <div class="col-xs-1">:</div>
                            <div class="col-xs-7">
                                <label id="labelItemNO"></label>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="col-xs-4 no-padding">DI Code</div>
                            <div class="col-xs-1">:</div>
                            <div class="col-xs-6">
                                <label id="labelDICode"></label>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12" style="margin-top: 10px;">
                        <div class="col-xs-6">
                            <div class="col-xs-3 no-padding">Quantity</div>
                            <div class="col-xs-1">:</div>
                            <div class="col-xs-7">
                                <label id="labelQuantity"></label>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="col-xs-4 no-padding">Doc Ref #</div>
                            <div class="col-xs-1">:</div>
                            <div class="col-xs-6">
                                <label id="labelDocRef"></label>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12" style="margin-top: 10px;">
                        <div class="col-xs-6">
                            <div class="col-xs-3 no-padding">Unit Price</div>
                            <div class="col-xs-1">:</div>
                            <div class="col-xs-7">
                                <label id="labelUnitPrice"></label>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="col-xs-4 no-padding">Date Incurred</div>
                            <div class="col-xs-1">:</div>
                            <div class="col-xs-6">
                                <label id="labelDateIncurred"></label>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12" style="margin-top: 10px;">
                        <div class="col-xs-6">
                            <div class="col-xs-3 no-padding">Amount</div>
                            <div class="col-xs-1">:</div>
                            <div class="col-xs-7">
                                <label id="labelAmount"></label>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="col-xs-4 no-padding">Invoice Number</div>
                            <div class="col-xs-1">:</div>
                            <div class="col-xs-7">
                                <label id="labelInvoiceNumber"></label>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12" style="margin-top: 10px;">
                        <div class="col-xs-6">
                            <div class="col-xs-3 no-padding">Comments</div>
                            <div class="col-xs-1">:</div>
                            <div class="col-xs-7 no-padding-right">
                                <label id="labelComments" class="col-xs-12 no-padding"></label>
                            </div>
                            @*<table style="width: 100%;">
                                <tr>
                                    <td></td>
                                    <td>Comments:</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <label id="labelComments" ></label>
                                    </td>
                                </tr>
                            </table>*@
                        </div>
                        <div class="col-xs-6">
                            <div class="col-xs-4 no-padding">Created Date</div>
                            <div class="col-xs-1">:</div>
                            <div class="col-xs-6">
                                <label id="lblCreatedDate"></label>
                            </div>


                            @*<div class="col-xs-3 no-padding">
                                Created Date:
                            </div>
                            <div class="col-xs-6 no-padding">
                                <label id="lblCreatedDate" ></label>
                            </div>*@
                        </div>
                        <div class="col-xs-6 widget-box" style="background-color: #f5f5f5;">

                            <div style="padding-top: 10px" class="col-md-8">
                                <span class="col-xs-9 text-right">Matched</span>
                                <div class="col-sm-3 no-padding">
                                    <input type="checkbox" id="chkshowMatched" class="chkshowMatched" disabled="disabled" />
                                </div>
                            </div>

                            <div style="padding-top: 10px" class="col-md-8">
                                <span class="col-xs-9 text-right">Verified</span>
                                <div class="col-sm-3 no-padding">
                                    <input type="checkbox" id="chkshowverified" class="chkshowverified" disabled="disabled" />
                                </div>
                            </div>

                            <div style="padding-top: 10px" class="col-md-8">
                                <span class="col-xs-9 text-right no-padding-left">Adhoc</span>
                                <div class="col-sm-3 no-padding">
                                    <input type="checkbox" id="chkshowAdhocBillingReadOnly" class="chkshowAdhocBillingReadOnly" disabled="disabled" />
                                </div>
                            </div>

                            <div style="padding-top: 10px" class="col-md-8">
                                <span class="col-xs-9 text-right">In-House</span>
                                <div class="col-sm-3 no-padding">
                                    <input type="checkbox" id="chkshowArchivedReadOnly" class="chkshowArchivedReadOnly" disabled="disabled" />
                                </div>
                            </div>

                            <div style="padding-top: 10px" class="col-md-8">
                                <span class="col-xs-9 text-right">Billed</span>
                                <div class="col-sm-3 no-padding">
                                    <input type="checkbox" id="chkshowBilledReadOnly" class="chkshowBilledReadOnly" disabled="disabled" />
                                </div>
                            </div>

                            <div class="col-md-8" style="padding-top: 10px;" id="divDI">
                                <span class="col-xs-9 text-right">Related DI</span>
                                <div class="col-sm-3 no-padding">
                                    <span id="spanDICount1" style="background-color: #5A5B54; padding: 3px; color: white"></span>
                                </div>
                            </div>

                            <div style="padding-top: 15px; padding-left: 0px;" class="col-xs-11">
                                <div class="col-xs-12">
                                    Vendor Report 
                                </div>
                                <div class="col-xs-12">
                                    <input type="text" disabled="disabled" id="txtshowVenderReportReadOnly" class="form-control" />
                                </div>
                            </div>

                            <div style="padding-top: 10px; padding-bottom: 10px; padding-left: 0px;" class="col-xs-11">
                                <div class="col-xs-12">
                                    Vendor Amount
                                </div>
                                <div class="col-xs-12">
                                    <input type="text" disabled="disabled" id="txtshowVenderAmountReadOnly" class="form-control" />
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<div id="divDescription" class="modal" tabindex="-1" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="blue bigger">Description view</h4>
            </div>

            <div class="modal-body">
                <span id="spnDescription"></span>
            </div>
        </div>
    </div>
</div>
<div id="dialog-confirmForDIInhouse" class="hide">
    <div class="alert alert-info bigger-110">
        IN-HOUSE COMMENT.
    </div>
    <div class="col-xs-12" style="padding-top: 12px">
        <div class="col-xs-3 no-padding">
            <label>Comment</label>
        </div>
        <div class="col-xs-9">

            <textarea maxlength="500" id="txtInhouseDIComments" style="height: 69px; resize: none;" class="form-control limited special"></textarea>

        </div>
    </div>
    <div class="space-6"></div>
</div>
