@{
    ViewBag.Title = "New DI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $GlobalDataWOTYPE = {};
    $GlobalDataWOTYPE.IsClientOrCustomer = '';
</script>
<form class="form-horizontal " role="form">
    <div class="form-group col-xs-12" id="trClient">
        <label for="labelClients" class="col-sm-1 control-label no-padding-right align-left">Company<span class="redstar">*</span></label>
        <div class="col-sm-9 no-padding-left" id="ddlClients" tabindex="3">
            @Html.Partial("~/Areas/WO/Views/PartialContent/_ClientChosen.cshtml", new ViewDataDictionary { { "ddlId", "ddlCompany" }, { "clientType", "CSS1C" }, { "selectedId", -1 }, { "DisplayName", "Choose a Company" }, { "DefaultLoad", 0 }, { "WOID", 0 }, { "ClientSource","1"} })
        </div>
    </div>

    <div class="clearfix col-xs-12">
        @Html.Partial("_DisbursementItems")
        <div class="gap-30">
        </div>
    </div>
</form>
@*<script src="~/Scripts/Validations.js"></script>*@
<script src="~/Areas/WO/Content/Scripts/CreateDI.js"></script>
@{    
    string VRFID = "";
    string Amount = "";
}

@if (ViewBag.VRFID != null && ViewBag.Amount != null)
{
    VRFID = ViewBag.VRFID;
    Amount = ViewBag.Amount;

}
<script type="text/javascript" lang="en-us">
    funToAssignVRIDAndAmount('@Amount','@VRFID')
</script>
