@{
    ViewBag.Title = "UnBilled Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/SystemReports/Content/Scripts/FeeAndDIReport.js"></script>
<link href="~/Content/css/assets/css/jquery-ui.min.css" rel="stylesheet" />

<style>
    .ui-datepicker {
        width: 19em;
    }
</style>

@using (Html.BeginForm("FEEAndDIItemsReport", "SystemReports", FormMethod.Post))
{
    <div class="form-actions clearfix">

        <div class="col-xs-12">

            <div class="col-xs-4 form-group">
                <label for="ddlGroupCode" class="col-sm-4 control-label no-padding-right align-right">SIC Group</label>
                <div class="col-sm-6" tabindex="2">
                    @Html.Partial("~/Areas/WO/Views/PartialContent/_GroupInfo.cshtml", new ViewDataDictionary { { "ddlId", "InCWO" }, { "GroupType", "InCWO" }, { "selectedId", 0 }, { "DisplayName", "ALL" } })
                </div>
                <input type="hidden" id="hdnGroupCode" name="GroupCode" />
            </div>

            <div class="col-xs-4 form-group">
                <label class="col-sm-3 control-label no-padding-right align-right" for="lblFromDate">From Date</label>
                <div class="col-sm-7">
                    <input type="text" id="txtFromDate" onblur="javascript:validateDateDDMMYYYY(this)" onkeypress="return checkDateValidation(event)" maxlength="10" name="FromDate" tabindex="3" class="col-xs-12 special" tabindex="3" />
                </div>

            </div>

            <div class="col-xs-4 form-group">
                <label class="col-sm-3 control-label no-padding-right align-right" for="lblWOCode">WO#</label>
                <div class="col-sm-7">
                    <input id="txtWoCode" name="WOCode" type="text" maxlength="15" class="col-xs-12 special" tabindex="5" />
                </div>
            </div>

        </div>

        <div class="col-xs-12">

            <div class="col-xs-4 form-group">
                <label class="col-sm-4 control-label no-padding-right align-right" for="txtClientName">Client / Customer</label>
                <div class="col-sm-6" id="divClientOne" tabindex="1">
                    @Html.Partial("~/Areas/WO/Views/PartialContent/_ClientChosen.cshtml", new ViewDataDictionary { { "ddlId", "ddlClient" }, { "clientType", "" }, { "selectedId", -1 }, { "DisplayName", "ALL" }, { "DefaultLoad", 0 }, { "WOID", 0 }, { "ClientSource", "1,4" } })
                </div>
                <input type="hidden" id="hdnCompayID" name="CompanyID" />
                <input type="hidden" id="hdnSource" name="Source" />
            </div>


            <div class="col-xs-4 form-group">
                <label class="col-sm-3 control-label no-padding-right align-right" for="lblToDate">To Date</label>
                <div class="col-sm-7">
                    <input id="txtToDate" type="text" onblur="javascript:validateDateDDMMYYYY(this)" onkeypress="return checkDateValidation(event)" maxlength="10" name="ToDate" class="col-xs-12 special" tabindex="4" />
                </div>

            </div>

            <div class="col-xs-4 form-group">
                <div class="col-xs-10 align-right">
                    <button type="submit" value="DOWNLOAD REPORT" id="btnDownLoadFeeAndDI" class="btn btn-purple" name="command" tabindex="6">
                        <i class="ace-icon fa fa-download bigger-110"></i>
                        Download Report
                    </button>

                    <button id="btnClear" class="btn" type="button" tabindex="7">
                        <i class="ace-icon fa fa-undo bigger-110"></i>
                        RESET
                    </button>


                </div>
            </div>

        </div>


    </div>
}
