@{
    ViewBag.Title = "VendorVerificationReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/css/assets/css/jquery-ui.min.css" rel="stylesheet" />

<style>
    .ui-datepicker {
        width: 19em;
    }
</style>

<script src="~/Areas/SystemReports/Content/Scripts/VendorVerificationReport.js"></script>
@using (Html.BeginForm("VendorVerificationReport", "SystemReports", FormMethod.Post))
{
    <div class="form-actions clearfix">

        <div class="col-xs-12">

            <div class="col-xs-4 form-group">
                <label class="col-sm-5 control-label no-padding-right align-right">Vendor Report Type<span class="redstar">*</span></label>
                <div class="col-sm-7">
                    <div class="divType">
                        <select class="ddlStyle col-xs-10" id="ddlDIitem" name="type" tabindex="1">
                            <option value="">Select</option>
                        </select>
                    </div>
                    <input type="hidden" id="DIitem" name="DIitem" />
                </div>
            </div>

            <div class="col-xs-4 form-group">
                <label class="col-sm-4 control-label no-padding-right align-right" for="lblFromDate">From Date</label>
                <div class="col-sm-8">
                    <input type="text" id="txtFromDate" onblur="javascript:validateDateDDMMYYYY(this)" onkeypress="return checkDateValidation(event)" maxlength="10" name="FromDate" class="col-xs-10 special" tabindex="3" />
                </div>
            </div>

            <div class="col-xs-4 form-group">
                <label class="col-sm-3 control-label no-padding-right no-padding-left align-right" for="drpTypeData">DI items status</label>
                <div class="col-sm-7">
                    <select id="ddlDIItemStatus" tabindex="5" name="ItemNo" class="col-xs-12">
                        <option value="">ALL</option>
                        <option value="MDI">Matched DI Records</option>
                        <option value="UMDI">UnMatched DI Records</option>
                        <option value="OBDI">Over Billed</option>
                        <option value="SBD">Billed Discrepancy</option>
                        <option value="SUBD">Unbilled Discrepancy</option>
                        <option value="md">Multiple Discrepancy</option>
                    </select>
                </div>
                <input type="hidden" id="DIStatus" name="DIStatus" />
            </div>

        </div>

        <div class="col-xs-12">

            <div class="col-xs-4 form-group">
                <label class="col-sm-5 control-label no-padding-left no-padding-right align-right" for="drpTypeData">Vendor Report upload</label>
                <div class="col-sm-7">
                    <select id="ddlVRUpload" tabindex="2" name="ItemNo" class="col-xs-10">
                        <option value="">ALL</option>
                    </select>
                </div>
                <input type="hidden" id="VRUpload" name="VRID" />
            </div>

            <div class="col-xs-4 form-group">
                <label class="col-sm-4 control-label no-padding-right align-right" for="lblToDate">To Date</label>
                <div class="col-sm-8">
                    <input id="txtToDate" type="text" onblur="javascript:validateDateDDMMYYYY(this)" onkeypress="return checkDateValidation(event)" maxlength="10" name="ToDate" class="col-xs-10 special" tabindex="4" />
                </div>
            </div>

            <div class="col-xs-4 form-group">
                <div class="col-xs-10 align-right">
                    <button type="submit" value="DOWNLOAD REPORT" id="btnDownLoadVVR" class="btn btn-purple" name="command" tabindex="6">
                        <i class="ace-icon fa fa-download bigger-110"></i>
                        Download Report
                    </button>

                    <button id="btnClear" class="btn" type="button" tabindex="7">
                        <i class="ace-icon fa fa-undo bigger-110"></i>
                        RESET
                    </button>
                </div>
            </div>

        </div>

    </div>
}

<script id="TypeDropdownTemplate" type="text/html">
    <option value="{{= Code}}">{{= Name}}</option>
</script>
<script id="VRUploadTemplate" type="text/html">
    <option value="{{= Code}}">{{= Username}} - {{= UploadedOn}}</option>
</script>
