@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>+65 82739626</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>+91 9052989993</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:anjireddy@example.com">Anjireddy@example.com</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span><a href="mailto:Marketing@example.com">Marketing@example.com</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:General@example.com">General@example.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        Hyderabad<br />
        Ph : 9052-98-9993
    </p>
</section>

<script type="text/ecmascript">
    $(document).ready(function () {
        SetPageAttributes('liHome', 'Home', 'Contact Us');
    });
</script>
