@{
    ViewBag.Title = "Type A";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/Masters/Content/Scripts/WOTypes.js"></script>

<form class="form-horizontal form-actions" role="form">
    <div class="form-group" id="trCategory">
        <label for="ddlCategory" class="col-sm-3 control-label no-padding-right">Category</label>
        <div class="col-sm-9">
            <select id="ddlCategory" class="col-xs-10 ddlsmall col-sm-1 no-padding-left" tabindex="1">
                <option value="A">A</option>
            </select>
        </div>
    </div>
    <div class="form-group" id="trWO">
        <label for="ddlWoType" class="col-sm-3 control-label no-padding-right">Name<span class="redstar">*</span></label>
        <div class="col-sm-9">
            <input type="text" id="txtWO" maxlength="100" placeholder="Name" tabindex="2" class="col-xs-8 special" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-top" for="form-field-tags">Code<span class="redstar">*</span></label>
        <div class="col-sm-9">
            <label>
                <input type="text" id="txtWOCode" maxlength="100" placeholder="Code" tabindex="3" class="col-xs-8 special" />
            </label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1-1"> Description <span class="redstar">*</span> </label>

        <div class="col-sm-9">
            <textarea id="txtWODescription" tabindex="4" placeholder="Description" class="form-control limited special" style="margin: 0px -0.015625px 0px 0px; height: 80px; max-height: 80px; width: 280px; max-width: 280px;padding-left:4px;"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-top" for="chkWOStatus">Active</label>

        <div class="col-sm-9">
            <label>
                <input id="chkWOStatus" type="checkbox" class="ace" name="form-field-checkbox">
                <span class="lbl" tabindex="5"></span>
            </label>

        </div>
    </div>
    <div class="clearfix">
        <div class="col-md-offset-3 col-md-9">
            <button id="btnWOCreate" class="btn btn-info" type="button" tabindex="6">
                <i class="ace-icon fa fa-check bigger-110"></i>
                SUBMIT
            </button>
            &nbsp; &nbsp; &nbsp;
            <button id="btnWOCancel" class="btn" type="button" tabindex="7">
                <i class="ace-icon fa fa-undo bigger-110"></i>
                RESET
            </button>
        </div>
    </div>

</form>
<div class="tableGrid dataTables_wrapper form-inline">
    <div id="divSearch" class=" row widget-main margin-10l">

        <div class="pull-left">
            Name
            <input type="text" id="txtWOTypeSearch" maxlength="20" class="special" />

        </div>
        <div class="pull-left margin-30l">
            Status
            <select id="ddlWOTypeStatus">
                <option value="-1">ALL</option>
                <option value="1">Active</option>
                <option value="0">In-Active</option>
            </select>
        </div>
        <div class="pull-left margin-30l">
            Sort By
            <select id="ddlWOTypeOrderBy">
                <option value="Active">Active</option>
                <option value="InActive">In-Active</option>
                <option value="CodeASC">Code ASC</option>
                <option value="CodeDESC">Code DESC</option>
            </select>
        </div>
        <div class="pull-left margin-30l">
            Page Size
            <select id="ddlWOTypePageSize">
                <option value="5">5</option>
                <option value="10" selected="selected">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
        <div class="pull-left margin-30l">
            <button id="btnWOTypeSearch" class="btn btn-info" type="button">
                <i class="ace-icon fa fa-search bigger-110"></i>
                SEARCH
            </button>
        </div>
    </div>
    <div id="divWOTypeList">
        <table id="tblWOTypeData" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Name
                    </th>
                    <th>Code
                    </th>
                    <th>Description
                    </th>
                    <th>Status
                    </th>
                    <th>Actions
                    </th>

                </tr>
            </thead>
            <tbody id="trData"></tbody>
        </table>

        <div id="divWTypeData" class="row" style="display: none;">
            <table class="table table-striped table-bordered table-hover">
                <tbody>
                    <tr>
                        <td colspan="5">
                            <div id="noWOTypeData">
                                No data found.
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row" id="divPagination" style="display: none">
            <div class="col-xs-6 margin-10t"><span id="listName"></span>&nbsp;<span id="listCount" class="badge"></span></div>
            <div id="numericcontainer" class="dataTables_paginate paging_bootstrap">
                <div>
                    <ul id="pagination-digg" class="pagination"></ul>
                </div>
            </div>
        </div>
    </div>
    <script id="WOTypeTemplate" type="text/html">
        <tr>
            <td>{{= WOName}}
            </td>
            <td>{{= WOCode}}
            </td>
            <td>{{= WODescription}}
            </td>
            <td>{{if Status }}
                <span class="label label-sm label-success">Active</span>
                {{else}}
                <span class="label label-sm label-warning">InActive</span>
                {{/if}}
            </td>

            <td>
                <div class="action-buttons">
                    <a wotypeid="{{= WOTypeId}}" class="blue aView " href="javascript:void(0)">
                        <i class=" ace-icon fa fa-search-plus bigger-130"></i>
                    </a>

                    <a wotypeid="{{= WOTypeId}}" class="aEdit green" href="javascript:void(0)">
                        <i class="  ace-icon fa fa-pencil bigger-130"></i>
                    </a>

                    @*<a wotypeid="{{= WOTypeId}}" class="aDelete red" href="javascript:void(0)">
                            <i class=" ace-icon fa fa-trash-o bigger-130"></i>
                        </a>*@
                </div>
            </td>
        </tr>
    </script>
    <div class="clear"></div>
</div>

<div id="modal-form" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="blue bigger">WOType Information</h4>
            </div>

            <div class="modal-body">

                <table style="width: 70%">
                    <tr>
                        <td>Name
                        </td>
                        <td>:
                        </td>
                        <td>
                            <label id="labelWO" style="margin: 6px;" ></label>
                        </td>
                    </tr>
                    <tr>
                        <td>Code
                        </td>
                        <td>:
                        </td>
                        <td>
                            <label id="labelCode" style="margin: 6px;" ></label>
                        </td>
                    </tr>
                    <tr>
                        <td>Decription
                        </td>
                        <td>:
                        </td>
                        <td>
                            <label id="labelDescription" style="margin: 6px;" ></label>
                        </td>
                    </tr>
                    <tr>
                        <td>Status
                        </td>
                        <td>:
                        </td>
                        <td>
                            <label id="labelStatus" style="margin: 6px;" ></label>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>



