@{
    ViewBag.Title = "DocGenrate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        SetPageAttributes('liAspose', 'Doc Genrate', '', 'liDocGenrate');
    });
</script>

<style>
    .mainDiv {
        float: left;
        width: 100%;
    }

    .divFU {
        float: left;
        padding: 10px 10px;
        margin: 15px;
    }

    .divFilter {
        display: none;
        margin: 15px;
        padding: 10px;
        vertical-align: top;
        width: 300px;
    }

    .divType {
        float: left;
        margin: 12px;
    }

    .ddlStyle {
        width: 120px;
    }

    .subDivFu {
        width: 260px;
        float: left;
        padding-top: 10px;
    }

    .btnRemove {
        height: auto;
        width: auto;
        float: left;
        background: #eee;
        border-color: #eee;
    }

    .divUpload {
        float: left;
        width: auto;
        padding-top: 3px;
    }

    .btnUpload {
        background-color: #d3dce0 !important;
        cursor: pointer !important;
        font-size: 1.2em !important;
        font-weight: 200 !important;
        padding: 4px !important;
        margin-right: 8px !important;
        width: auto !important;
    }

    .clssRepetedTr {
        border-top-color: #DDD9C3 !important;
    }
</style>

@using (Html.BeginForm("DocGenrate", "ASPOSE", FormMethod.Post))
{ 

    <div class="divFU well">
        <div class="divType">
            Template
        </div>
        <div class="subDivFu">
            <input type="text" name="DocPath" />
        </div>
        <div id="divUpload" class="divUpload">
            <input name="btnSubmit" id="btnGenerateDoc" type="submit" value="START PROCESS" class="btn btn-primary" />
        </div>
    </div>
    
    
}
<script type="text/javascript">

    $(document).ready(function () {
        //$('#btnGenerateDoc').click();
    });

</script>



